<!DOCTYPE html>
<html>
  <head>
    <title>Stimulus debounce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class=" min-h-full">
      <%= render "layouts/nav" %>

        <main class="bg-gray-50">
          <% [:alert, :notice, :error].each do |f| %>
            <% if flash[f].present? %>
              <div class="p-4 m-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                <%= flash[f] %>
              </div>
            <% end %>
          <% end %>

          <%= yield %>
        </main>
    </div>
  </body>
</html>
